<div class="toDoWrapper">
  <form class="todo-form" (submit)="addTask(addNewTask.value)">
    <mat-form-field class="todo-width">
      <input 
        #addNewTask 
        matInput 
        [formControl]="newTask" 
        required 
        name="addTask" 
        placeholder="Add New Task">
      <mat-hint>Type a task and press enter</mat-hint>
      <mat-error *ngIf="newTask.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </form>
  <mat-list>
    <mat-list-item disableRipple="false" *ngFor="let task of tasks">
      <mat-checkbox 
        color="primary" 
        [(ngModel)]="task.completed" 
        (change)="changeStatus(task)" 
        mat-list-icon>
      </mat-checkbox>
      <p [class.taskComplete]="task.completed" mat-line> {{task.name}} </p>
      <button (click)="removeTask(task.name)" mat-icon-button>
        <mat-icon>delete_forever</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <p *ngIf="tasks.length > 0" class="mat-body-1 todoStatus">
    <span class="mat-body-2">{{getIncompleteTask()}}</span> of
    <span class="mat-body-2">{{tasks.length}}</span> tasks completed</p>
  <div>